= form_for [@project, @userstory], remote: true do |f|
  %legend New userstory
  %button.btn.close.pull-right{type: 'button'} &times;
  - if @userstory.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @userstory.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :complete
    = f.check_box :complete
  .actions.pull-right
    = f.submit 'Save'
