%tr{ class: userstory.status }
  %td= "#{userstory.category_name}"
  %td= link_to "#{userstory.description}", [@project, userstory]
  %td
  %td
  %td= "#{userstory.name}"
  %td
  %td= backlog_link(userstory)
