%tr{ class: userstory.status }
  %td.category= "#{userstory.category_name}"
  %td.description= link_to "#{userstory.description}", [@project, userstory]
  %td.priority
  %td.velocity
  %td.status= "#{userstory.status}"
  %td.name= "#{userstory.name}"
