%section#userstories
  %header
    %h1= "Userstories for #{@project.name}"
  %section.actions
    = link_to 'New userstory', new_project_userstory_path(@project), remote: true, id: 'new_userstory_link'

  .row
    .span6
      %section#backlog
        %header
          %h2 Backlog
          %table.table.table-striped
            %thead
              %tr
                %td No.
                %td Description
                %td Priority
                %td Velocity
                %td Developer
                %td Actions
            %tbody

    .span6
      %section#current_sprint
        %header
          %h2 Current sprint

        %section.incomplete
          %header
            %h2 Incomplete userstories
          %table.userstories.table.table-striped
            %thead
              %tr
                %td No.
                %td Description
                %td Priority
                %td Velocity
                %td Developer
                %td Actions
            %tbody
              = render @incomplete_userstories

        %section.complete
          %header
            %h2 Complete userstories
          %table.table.table-striped
            %thead
              %tr
                %td No.
                %td Description
                %td Priority
                %td Velocity
                %td Developer
                %td Actions
            %tbody
              = render @complete_userstories

= link_to 'Back to project', @project
