%header
  %h1= "Userstories for #{@project.name}"
  %section
    = link_to 'New userstory', new_project_userstory_path(@project), remote: true, id: 'new_link'

.row
  .span5
    %section
      %header
        %h2 Backlog
        %table.table
          %thead
            %tr
              %td No.
              %td Description
              %td Priority
              %td Velocity
              %td Developer
              %td Actions
          %tbody

  .span7
    %section
      %header
        %h2 Current sprint

      %section#incomplete_userstories
        %header
          %h2 Incomplete userstories
        %table.userstories.table
          %thead
            %tr
              %td No.
              %td Description
              %td Priority
              %td Velocity
              %td Developer
              %td Actions
          %tbody
            = render @incomplete_userstories

      %section#complete_userstories
        %header
          %h2 Complete userstories
        %table.table
          %thead
            %tr
              %td No.
              %td Description
              %td Priority
              %td Velocity
              %td Developer
              %td Actions
          %tbody
            = render @complete_userstories

%footer
  = link_to 'Back to project', @project
