%header
  %h1
    %span= "#{@userstory.full_name}"
    %span= "--- #{@userstory.project.name}"

%section#acceptance_tests
  %header
    %h2 Acceptance Tests
  %section.actions
    = link_to 'New acceptance test', new_userstory_acceptance_test_path(@userstory), id: 'new_acceptance_test_link', remote: true
  %section.incomplete
    %header
      %h3 not yet accepted
    = render @incomplete_acceptance_tests
  %section.complete
    %header
      %h3 accepted
    = render @complete_acceptance_tests

%section#tasks
  %header
    %h2 Tasks
  %section.actions
    = link_to 'New task', new_userstory_task_path(@userstory), id: 'new_task_link', remote: true
  %section.incomplete
    %header
      %h3 incomplete
    = render @incomplete_tasks
  #clearfix
  %section.complete
    %header
      %h3 complete
    = render @complete_tasks

= link_to 'Back to project', @project
|
= link_to 'Back to userstory management', project_userstories_path(@project)
|
= link_to 'Edit userstory', edit_project_userstory_path(@project, @userstory)
|
= link_to '(remove userstory)', project_userstory_path(@project, @userstory), method: :delete, data: {confirm: 'Are you sure?'}

%hr

= render 'status'
