%header
  %h1
    %span= "#{@userstory.full_name}"
    %span= "--- #{@userstory.project.name}"

%section#acceptance_tests
  %header
    %h2= link_to 'Acceptance Tests', userstory_acceptance_tests_path(@userstory)
    = link_to 'New acceptance test', new_userstory_acceptance_test_path(@userstory), id: 'new_link', remote: true
    %section.incomplete
      %h2 not yet accepted
      %ul
        = render @incomplete_acceptance_tests

    %section.complete
      %h2 accepted
      %ul
        = render @complete_acceptance_tests

%section#tasks
  %header
    %h2= link_to 'Tasks', userstory_tasks_path(@userstory)

  %section#tasks
    %header
      %h2 incomplete
      #incomplete_tasks.tasks
        %ul
          = render @userstory.incomplete_tasks

  #clearfix

  %section#tasks
    %header
      %h2 complete
      #complete_tasks.tasks
        %ul
          - @userstory.complete_tasks.each do |task|
            %li
              %label= task.name

%br
= link_to 'Back to project', @project
|
= link_to 'Edit userstory', edit_project_userstory_path(@project, @userstory)
|
= link_to '(remove userstory)', project_userstory_path(@project, @userstory), method: :delete, data: {confirm: 'Are you sure?'}
