- content_for :nav_breadcrumbs do
  %ul
    - if current_user
      %li= link_to 'Dashboard', dashboard_path
      %li= link_to "#{@project.name}", @project
      %li= link_to "Manage userstories", project_userstories_path(@project)
      %li= "#{@userstory.description}"

- content_for :nav_context do
  %li= link_to 'Destroy userstory', project_userstory_path(@project, @userstory), method: :delete, data: {confirm: 'Are you sure?'}
  %li= link_to 'Edit userstory', edit_project_userstory_path(@project, @userstory)
  %li.divider
  %li= link_to 'Manage userstories', project_userstories_path(@project)

%header
  %h1
    %span= "#{@userstory.description}"

%section#acceptance_tests
  %header
    %h2 Acceptance Tests
  %section.actions
    = link_to 'New acceptance test', new_userstory_acceptance_test_path(@userstory), id: 'new_acceptance_test_link', remote: true, class: 'btn btn-default btn-xs'
  %section.incomplete
    %header
      %h3 not yet accepted
    %table
      %tbody
        = render @incomplete_acceptance_tests
  %section.complete
    %header
      %h3 accepted
    %table
      %tbody
        = render @complete_acceptance_tests

- if current_user.has_scrum_role?(@project)
  %section#tasks
    %header
      %h2 Tasks
    %section.actions
      = link_to 'New task', new_userstory_task_path(@userstory), id: 'new_task_link', remote: true, class: 'btn btn-default btn-xs'
    %section.incomplete
      %header
        %h3 incomplete
      %table
        %tbody
          = render @incomplete_tasks
    %section.complete
      %header
        %h3 complete
      %table
        %tbody
          = render @complete_tasks

%section#menue

%hr

= render 'status'
