= form_for [@userstory, task], remote: true do |f|
  = f.check_box :complete, id: "task_complete_#{task.id}"
  = f.label "complete_#{task.id}", task.name
  = f.submit 'Update'
  = link_to '(remove)', [@userstory, task], method: :delete, data: {confirm: 'Are you sure?'}, remote: true
