%tr.task{ id: "task_#{task.id}", class: "#{complete_class(task)}" }
  %td.text= task.number
  %td.text= task.name
  %td.actions
    = edit_link(task)
    = complete_task_link(task)
    = destroy_link(task)
