%p#notice= notice

%p
  %b Number:
  = @task.number
%p
  %b Name:
  = @task.name
%p
  %b Complete:
  = @task.complete

= link_to 'Edit', edit_userstory_task_path(@userstory, @task)
\|
= link_to 'Back', userstory_tasks_path(@userstory)
