- content_for :nav_breadcrumbs do
  %ul
    - if current_user
      %li= link_to 'Dashboard', dashboard_path
      %li= link_to "#{@project.name}", @project
      %li= "Edit"

%h1 Editing project

= render 'form'
