%h1 Projects
%br
- @projects.each do |project|
  .project
    %p
      = link_to project.name, project
    %p
      Userstories:
      = project.size_of_all_userstories
      complete:
      = project.size_of_completed_userstories
    %p
      Tasks:
      = project.size_of_all_tasks
      complete:
      = project.size_of_completed_tasks

%br
= link_to 'New Project', new_project_path
