%h1= @project.name

%section
  %header
    %h2 Project overview
    %p sprints, dates, members, burndown, etc.

%section
  %header
    %h2 Actions
    = link_to 'Manage Userstories', project_userstories_path(@project)

%section
  %header
    %h2 Current sprint
    %table.userstories
      %thead
        %tr
          %td No.
          %td Description
          %td Priority
          %td Velocity
          %td Developer
      %tbody
        - @project.userstories.each do |userstory|
          %tr{ class: userstory.status }
            %td= "#{userstory.name}"
            %td= "#{userstory.description}"
            %td
            %td
            %td

= link_to 'Edit project', edit_project_path(@project)
\|
= link_to 'Destroy project', project_path(@project), method: :delete, confirm: 'Are you sure?'
\|
= link_to 'Back to projects', projects_path
