- content_for :nav_breadcrumbs do
  %ul
    - if current_user
      %li= link_to 'Dashboard', dashboard_path
      %li= "#{@project.name}"

- content_for :nav_context do
  %ul
    %li= link_to 'Destroy project', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }
    %li= link_to 'Edit project', edit_project_path(@project)
    %li= link_to 'Manage userstories', project_userstories_path(@project)  

%h1= @project.name

%section
  %header
    %h2 Project overview
    %p sprints, dates, members, burndown, etc.

%section
  %header
    %h2 Actions

%section
  %header
    %h2 Current sprint
    %table.userstories
      %thead
        %tr
          %td Category
          %td Description
          %td Priority
          %td Velocity
          %td No.
      %tbody
        - @project.userstories.each do |userstory|
          %tr{ class: userstory.status }
            %td= "#{userstory.category_name}"
            %td= "#{userstory.description}"
            %td
            %td
            %td= "#{userstory.name}"
