%h1= @project.name

= link_to 'Userstories', project_userstories_path(@project)

%ol.userstories
  - @project.userstories.each do |userstory|
    %li
      = link_to "#{userstory.name}: #{userstory.description}", [@project, userstory]
      %ol.tasks
        - userstory.tasks.each do |task|
          %li= task.name
      = link_to 'x', project_userstory_path(@project, userstory), method: :delete, data: {confirm: 'Are you sure?'}
= link_to 'New Userstory', new_project_userstory_path(@project), remote: true, id: 'new_userstory'
|
= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Destroy', project_path(@project), method: :delete, confirm: 'Are you sure?'
\|
= link_to 'Back', projects_path
