%h1= @project.name

%section
  %header
    %h2 Project overview
    %p sprints, dates, members, burndown, etc.

%section
  %header
    %h2 Actions
    = link_to 'Manage Userstories', project_userstories_path(@project)

%section
  %header
    %h2 Current sprint
    %ol.userstories
      - @project.userstories.each do |userstory|
        %li
          = link_to "#{userstory.name}: #{userstory.description}", [@project, userstory]
          %ol.tasks
            - userstory.tasks.each do |task|
              %li
                = task.name
                = link_to 'x', project_userstory_path(@project, userstory), method: :delete, data: {confirm: 'Are you sure?'}
-#= link_to 'New Userstory', new_project_userstory_path(@project), remote: true, id: 'new_userstory'
//|
= link_to 'Edit project', edit_project_path(@project)
\|
= link_to 'Destroy project', project_path(@project), method: :delete, confirm: 'Are you sure?'
\|
= link_to 'Back to projects', projects_path
