%h2 Edit ownerships

= form_tag create_or_delete_multiple_ownerships_path, method: :post do
  %table
    %thead
      %tr
        %th Ownership
        %th Project Name
        %th Scrum Role
    %tbody
    - @projects.each do |project|
      %tr
        %td= check_box_tag 'project_ids[]', project.id, current_user.has_ownership?(project), id: "project_ids_#{project.id}"
        %td= label_tag "project_ids_#{project.id}", project.name
        %td
          - Role.all.each do |role|
            = check_box_tag 'project[role_ids][]', project.id, current_user.includes_scrum_role?(project, role), id: "project_role_ids", disabled: true
            = label_tag "project_ids_#{project.id}_role_ids_#{role.id}", role.name
  = submit_tag 'Set ownerships'

= link_to 'Back', :back
