%tr.acceptance_test{ id: "acceptance_test_#{acceptance_test.id}", class: "#{complete_class(acceptance_test)}" }
  %td.text= acceptance_test.description
  %td.actions
    = edit_link(acceptance_test)
    = complete_acceptance_test_link(acceptance_test)
    = destroy_link(acceptance_test)
