%header.group
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{ data: { toggle: 'collapse', target:'#top-level-menue' }, type: 'button' }
          %span.sr-only
            Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'Gemoria', root_path, class: 'navbar-brand'
      .collapse.navbar-collapse#top-level-menue
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            %li= link_to 'Administration', administration_path
            %li= link_to 'Dashboard', dashboard_path
            = render 'layouts/context_nav'
            %li.dropdown
              %a.dropdown-toggle{ data: { toggle: 'dropdown'} }
                Account
                %span.caret
              %ul.dropdown-menu.dropdown-menue-right
                %li= link_to 'Edit profile', href: '#'
                %li.divider
                %li= link_to "Logout #{current_user.name}", logout_path, method: :delete, id: 'logout_link'
          - else
            %li= link_to 'Signup', signup_path, id: 'signup_link'
            %li= link_to 'Login', login_path
    /= render 'layouts/breadcrumbs_nav'
